@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
} 

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: burlywood;
    margin: 0;
  }
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: darkblue;
    background-image: linear-gradient(
        115deg,
        rgba(29, 29, 68, 0.8),
        rgba(18, 18, 19, 0.7)
      ),
      url(backgroun.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    font-weight: 400;
    line-height: 1.2;
  }
  
p {
    font-size: 1.125rem;
  }
   
h1, p {
    margin-top: 0;
    margin-bottom: 0.8rem;
}
.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
  }

 #logo{
    position: relative;
    margin: -40px 560px -2px ;
 } 
  .description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
  
  .text-center {
    text-align: center;
  }

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  button {
    border: gray;
    color: black;
  }
  
  .container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
  }

  form {
    padding: 1rem 2.25rem;
    margin: 0px 350px 15px 350px;
    border-radius: 0.25rem;
    border: 4px solid burlywood;
    background-color: black;
    opacity: 75%;
  }
  
  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #e5e9a8;
    background-clip: padding-box;
    border: 2px solid burlywood;
    border-radius: 1.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .input-radio,
  .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  
  .input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
  }
  
  .submit-button {
    display: block;
    width: 30%;
    margin-left: 200px;
    padding: 10px 0px 10px 0px;
    background: rgb(138, 125, 14);
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
  }
  